@model IEnumerable<Transportation.Infrastructure.Data.ShippingRequest>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Coordinator/Views/Shared/_LayoutCoordinator.cshtml";
}
    <div>
        <h5 class="card-title">Thông tin đơn hàng</h5>

        <!-- Table with stripped rows -->
        <a href="~/Admin/Drivers/RegisterDriver">Thêm mới</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Ngày đặt</th>
                    <th scope="col">Khách hàng</th>
                    <th scope="col">Điểm lấy hàng</th>
                    <th scope="col">Điểm trả hàng</th>
                    <th scope="col">Khối lương </th>
                    <th scope="col">Giá vận chuyển</th>
                    <th scope="col">Lựa chọn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RequestId</th>
                        <td>@item.RequestDate</td>
                        <td>@item.Customer.FullName</td>
                        <td>@item.PickupLocation</td>
                        <td>@item.DropoffLocation</td>
                        <td>@item.Weight</td>
                        <td>@item.ShippingCost</td>
                        <td>Xóa/sửa</td>

                    </tr>
                }


            </tbody>
        </table>
    </div>


